@import url("https://fonts.googleapis.com/css?family=PT+Sans");

$colors: (
  background: #c0c0c0
);

@function colors($color-name) {
  @return map-get($colors, $color-name);
}
html,
body {
  height: 100vh;
  font-family: "PT Sans", sans-serif;
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=#d2691eff&noise=626262&density=100&opacity=60");
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  @extend .flex;
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=#d2691eff&noise=626262&density=100&opacity=60");
  height: 100vh;
}

.border {
  border-radius: 9px 9px 9px 9px;
  border: 2px solid #000000;
}

.innerBorder {
  border: 2px solid #000000;
  box-shadow: -5px 25px 24px 1px rgba(0, 0, 0, 0.5);
}

.active {
  transform: translateY(4px);
  box-shadow: 0 5px #666666;
  background-color: green;
  color: white;
}

.calculator {
  @extend .border;
  height: 850px;
  width: 550px;
  background-color: colors(background);
  text-align: center;
  box-shadow: -1px 25px 24px 7px rgba(0, 0, 0, 0.57);
}
.col {
  margin-bottom: 15px;
}

#display {
  @extend .innerBorder;
  height: 150px;
  // display: flex;
  // flex-direction: row-reverse;
  width: 507px;
  margin: 25px 0 15px 0;
  padding: 25px;
  background-color: whitesmoke;
}

.numberButton {
  //@extend .innerBorder;
  background-color: white;
  height: 125px;
  width: 125px;
  margin: 1px;
  font-size: 30px;
  &:hover {
    @extend .innerBorder;
    background-color: lightgrey;
  }
  &:active {
    @extend .active;
    background-color: green;
  }
}

#divide,
#multiply,
#subtract,
#add,
#equals {
  color: white;
  background-color: orangered;
  &:hover {
    @extend .innerBorder;
    color: black;
    background-color: lightgrey;
  }
  &:active {
    transform: translateY(4px);
    box-shadow: 0 5px #666666;
    background-color: green;
    color: white;
  }
}

#zero {
  width: 252px;
}

#clear {
  width: 379px;
  background-color: lightgreen;
  &:active {
    @extend .active;
  }
}

.footer {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;

  a {
    color: orangered;
    &:hover {
      text-decoration: none;
      color: orangered;
      font-size: 24px;
    }
  }
}
